.mainBody{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #c2c7d6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    color: white;
}

.clgray{
    color: white !important;
}

.bggraybtn{
    background-color: #4e5253 !important;
    border-color: #4e5253 !important;
}

.main{
    flex-basis: 35%;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

}

.main h3{
    font-size: 22px;
    font-weight: 800;
}

.des{
    flex-basis: 40%;
}

.des p{
    font-size: 16px;
    margin: 0px;
}

.button{
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
}

.imag{
    width: 100px;
    height: 100px;
}

@media screen and (max-width:950px) {
    .main{
        flex-direction: column;
        align-items: flex-start;
    }
    .block{
        flex-direction: column;
        align-items: flex-start;
    gap: 20px;

    }
    .imag{
        width: 75px;
        height: 75px;
    }

    .button{
        width: 100%;
        flex-basis: 100%;
    }

}

