.bgnewdark{
    background-color: #1A1F2B;
    background: #1A1F2B;
    color: white;
}


.bgyellow{
background-color: #FFD700;
background: #FFD700;
}

.bordercol{
    border-color: #CCCCCC;
}

.textblack{
    color: black;
}

.textblack a{
    text-decoration: none !important;
    color: black !important;
}

.textwhite{
    color: white !important;
    text-decoration: none;
}

.textwhite a{
    color: white !important;
    text-decoration: none;
}

.bgpurple{
    background-color: #df40e0;
    background: #df40e0;
}

.gradienttext{
    background: linear-gradient(141deg, rgba(156, 28, 243, 1) 20%, rgba(222, 63, 224, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}


.bgpurplegradient{
    background: rgb(222,63,224);
    background: linear-gradient(141deg, rgba(156, 28, 243, 1) 20%, rgba(222, 63, 224, 1) 100%);
}

.borderright{
    border-right: 1px solid #d8dbe0 !important;
}
