// Here you can add other styles
.bgForm{
    background-color: #f9fafa !important;
    padding: 10px 20px;
}

.GridView{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}

.HeadText{
    display: flex;
    justify-content: space-between;
}

.TextPrice{
    color: black;
    font-weight: 700;
}
.LightText{
    font-weight: 400;
    color: rgb(63, 63, 63);
}

.bgblue{
    background-color: #001f3f !important;
    border-color: #001f3f !important;
}


.bgdark{
    background-color: #010101 !important;
    border-color: #010101 !important;
}

.bgbuttonblue:hover{
    background-color: #011529 !important;
    border-color: #011529 !important;
}

.clwhite{
    color: white !important;
}

.clwhite a{
    color: white !important;
}

.bggray{
    background-color: #B0B8BC !important;
    border-color: #B0B8BC !important;
}

.bgbutton:hover{
    background-color: #6d7274 !important;
    border-color: #6d7274 !important;
}

.sidebar-nav .nav-link.active{
    background-color: #001f3f !important;
    color: white !important;
}

.breadcrumb-item + .breadcrumb-item::before{
    color: white !important;
}

.sidebar-nav .nav-link{
    color: white !important;
}

.sidebar-nav svg.nav-icon{
    color: white !important;
}

.sidebar-nav .nav-link.active .nav-icon{
    color: white !important;
}

.simplebar-content{
    margin-right: 5px;
}

.bgdarker{
    background-color: #c2c7d6;
    border-color: #c2c7d6;
}

.bgclear{
    background-color: rgb(0, 0, 0, 0.4) !important;
    border-color: none !important;

}

.bgwhite{
    background-color: white !important;
    border-color: white !important;
}


.borderdata{
    border: 3px solid #B0B8BC;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    cursor: pointer;
}

.borderdata h2{
    font-size: 18px;
    text-align: left;
    margin-bottom: 0px;
    font-weight: 700;
}

@media screen and (max-width:650px) {
    .borderdata{
        padding: 10px 10px;
        gap: 10px;
        margin-bottom: 10px;
    }
    
    .borderdata h2{
        font-size: 16px;
    }
}