// Here you can add other styles
.bgForm{
    background-color: #f9fafa !important;
    padding: 10px 20px;
}

.GridView{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}

.HeadText{
    display: flex;
    justify-content: space-between;
}

.TextPrice{
    color: black;
    font-weight: 700;
}
.LightText{
    font-weight: 400;
    color: rgb(63, 63, 63);
}

.bgblue{
    background-color: #001f3f !important;
    border-color: #001f3f !important;
}

.bgbuttonblue:hover{
    background-color: #011529 !important;
    border-color: #011529 !important;
}

.clwhite{
    color: white !important;
}

.clwhite a{
    color: white !important;
}

.bggray{
    background-color: #B0B8BC !important;
    border-color: #B0B8BC !important;
}

.bgbutton:hover{
    background-color: #6d7274 !important;
    border-color: #6d7274 !important;
}

.sidebar-nav .nav-link.active{
    background-color: #001f3f !important;
}

.breadcrumb-item + .breadcrumb-item::before{
    color: white !important;
}

.bgclear{
    background-color: rgb(0, 0, 0, 0.4) !important;
    border-color: none !important;

}